apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "document-processor.fullname" . }}
  labels:
    {{- include "document-processor.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "document-processor.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "document-processor.labels" . | nindent 8 }}
    spec:

      serviceAccountName: {{ include "document-processor.serviceAccountName" . }}

      securityContext: 
        capabilities:
          drop:
          - ALL
        readOnlyRootFilesystem: true
        runAsNonRoot: true
        runAsUser: 1000

      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP

          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL

          envFrom:
            - configMapRef:
                name: {{ .Values.envFrom.configMapRef.name }}
            - secretRef:
                name: {{ .Values.envFrom.secretRef.name }}

          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http